<div class="content">
	<form action="/schedule/create/<%= req.params.id %>" method="POST">
	  <% if (flash && flash.err){ %>
	  	<ul class="alert alert-danger">
		  	<% flash.err.forEach(function(error){ %>
		  		<li><%= error.message %></li>
		  	<% }) %>
	  	</ul>
	  <% } %>
	    <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
	    <div class="row">
		  <div class="col-lg-5 pull-right">
		    <div class="input-group">
			    <div class="input-group">
			      <input type="text" name="title" class="form-control" aria-label="title" placeholder="Enter Schedule Title">
			      <span class="input-group-addon">
			        <input type="radio" name="weekOrMonth" value="false" aria-label="weekOrMonth" checked>  Weekly
			        <input type="radio" name="weekOrMonth" value="true" aria-label="weekOrMonth">  Monthly
			      </span>
			      <span class="input-group-btn">
			        <button type="submit" class="btn btn-success">Add Schedule</button>
			      </span>
			    </div><!-- /input-group -->
		    </div><!-- /input-group -->
		  </div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
	</form><br>
	<div id="tableContainer">
		<% for (var i=0; schedules && i<schedules.length; i++){ %>
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title centerText">
			    	<%= schedules[i].title %>
				</h3>
			  </div>
			  <div class="panel-body">
			  <table class="scheduleTable table table-bordered table-hover table-condensed">
			  	<tr>
			  		<td colspan="7">
					  <form action="/scheduleentry/create/<%= req.params.id %>" method="POST" class="form-inline">
					  <div class="centerText">
					    <div class="form-group">
					    	Description<br>
					      <input type="text" name="description" class="form-control pull-right" aria-label="title" placeholder="Enter Entry Description">
					    </div>
					    <div class="form-group">
					    	Day<br>
				      	  <select name="dayOfWeek" class="form-control pull-right" aria-label="dayOfWeek">
				      		<option value="0">Sun</option>
				      		<option value="1">Mon</option>
				      		<option value="2">Tue</option>
				      		<option value="3">Wed</option>
				      		<option value="4">Thu</option>
				      		<option value="5">Fri</option>
				      		<option value="6">Sat</option>
				      	  </select> 
				      	</div>
					    <div class="form-group">
					    	Start Time<br>
				      	  <input type="time" name="startTime" class="form-control" value="00:00:00">
				      	</div>
					    <div class="form-group">
					    	Duration (Hours)<br>
				      	  <input type="number" name="durHours" class="form-control" min="0" value="0">
				      	</div>
					    <div class="form-group">
					    	Duration (Minutes)<br>
				      	  <input type="number" name="durMinutes" class="form-control" min="0" step="10" value="0">
				      	</div>
					      <span class="form-group"><br>
					      	<input type="hidden" name="schID" value="<%= schedules[i].id %>">
		      				<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
					        <button type="submit" class="btn btn-info">Add Entry</button>
					      </span>
					    </div><!-- /input-group -->
					  </div><!-- /.col-lg-6 -->
					  </form>
			  		</td>
			  	</tr>
			  	<tr>
			  		<td>
			  			<div class="centerText">
							<form action="/scheduleentry/delete/<%= req.params.id %>" method="POST">
						      	<input type="hidden" name="schID" value="<%= schedules[i].id %>">
			      				<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
					  			<button type="submit" class="btn btn-danger">Clear all entries</button>
							</form>
						</div>
			  		</td>
			  		<td colspan="5"></td>
			  		<td>
			  			<div class="centerText">
						    <form action="/schedule/delete/<%= req.params.id %>" method="POST">
								<input type="hidden" name="schID" value="<%= schedules[i].id %>">
			      				<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
					        	<button type="submit" class="btn btn-danger">Delete Schedule</button>
						    </form>
					    </div>
			  		</td>
			  	</tr>
				<tr>
					<th class="centerText dayWidth">Sunday</th>
					<th class="centerText dayWidth">Monday</th>
					<th class="centerText dayWidth">Tuesday</th>
					<th class="centerText dayWidth">Wednesday</th>
					<th class="centerText dayWidth">Thursday</th>
					<th class="centerText dayWidth">Friday</th>
					<th class="centerText dayWidth">Saturday</th>
				</tr>
				<tr>
					<!-- 
						Figure out how to store each entry to their respective days (or entry, if monthly)
						Need them to be in acsending order (array) for each day (.sunday, .saturday, etc.)
					 -->
					 <% for (var entryInd=0, curEntries=schedules[i].entries; curEntries && entryInd< curEntries.length; entryInd++) { %>
							<td class="dayWidth">
								<% for (var dayInd=0, curDay=curEntries[entryInd]; dayInd<curDay.length; dayInd++) { %>
									<div class="entryBlock bg-<%= curDay[dayInd].color %>" style="height: <%= curDay[dayInd].duration/2 %>px;" >
									<div class="entryBar clearfix">
										<div class="entryTitle pull-left">
											<%= curDay[dayInd].description %>
										</div>
										<div class="entryDel pull-left">
											<form action="/scheduleentry/delete/<%= req.params.id %>" method="POST">
												<input type="hidden" name="entryID" value="<%= curDay[dayInd].id %>">
							      				<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
							        			<button type="submit" class="btn btn-xs btn-danger">X</button>
											</form>
										</div>
									</div>
									<%= curDay[dayInd].startTime %> - <%= curDay[dayInd].endTime %>
									<%= curDay[dayInd].duration %>
									</div>
								<% } %>
							</td>
					<% } %>
				</tr>
			  </table>



			  </div>
			</div>
		<% } %>
	</div>
</div>