<div class="content">
	<form action="/friends/create/<%= req.params.id %>" method="POST" class="form-horizontal">
	  <% if (flash && flash.err){ %>
	  	<ul class="alert alert-danger">
		  	<% flash.err.forEach(function(error){ %>
		  		<li><%= error.message %></li>
		  	<% }) %>
	  	</ul>
	  <% } %>
	    <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
	    <div class="row">
		  <div class="col-lg-4 pull-right">
		    <div class="input-group">
			    <div class="input-group">
			      <input type="email" id="email" name="email" class="form-control" placeholder="Enter friend Email...">
			      <span class="input-group-btn">
			        <button type="submit" class="btn btn-success">Add Friend</button>
			      </span>
			    </div><!-- /input-group -->
			  </div>
		  </div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
	</form><br>
	<div id="tableContainer">
		<table class="table table-striped table-hover table-responsive">
			<tr>
				<th>ID</th>
				<th>Friender ID</th>
				<th>Friendee ID</th>
				<th>Status</th>
				<th>Favorer</th>
				<th>Favoree</th>
				<th>Request Sent On</th>
				<th>Last Updated</th>
				<th class="indexButtons"></th>
			</tr>
			<% for (var i=0; friendList && i<friendList.length; i++){ %>
				<tr>
					<td><%= friendList[i].id %></td>
					<td><%= friendList[i].friender %></td>
					<td><%= friendList[i].friendee %></td>
					<td><%= friendList[i].status %></td>
					<td><%= friendList[i].favorer %></td>
					<td><%= friendList[i].favoree %></td>
					<td><%= friendList[i].createdAt.toDateString() %></td>
					<td><%= friendList[i].updatedAt.toDateString() %></td>
					<td class="indexButtons">
						<% if (!friendList[i].status) { %>
							<form action="/friends/status/<%= req.params.id %>" method="POST">
								<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
								<input type="hidden" name="FID" value="<%= friendList[i].id %>">
				      			<% if (friendList[i].friender==req.params.id) { %>
				      				<button type="submit" class="btn btn-primary btn-xs pull-left">Undo Request</button>
				      			<% } else { %> 
				      				<button type="submit" class="btn btn-success btn-xs pull-left">Accept Request</button>
				      			<% } %>
			      			</form>
			      		<% } else {%>
						<form action="/friends/favorite/<%= req.params.id %>" method="POST">
							<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
							<input type="hidden" name="favFID" value="<%= friendList[i].id %>">
			      			<button type="submit" class="btn btn-warning btn-xs pull-left">Favorite</button>
		      			</form>
		      			<% } %>
						<form action="/friends/delete/<%= req.params.id %>" method="POST">
							<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
							<input type="hidden" name="delFID" value="<%= friendList[i].id %>">
			      			<button type="submit" class="btn btn-danger btn-xs pull-left">Delete</button>
		      			</form>
					</td>
				</tr>
			<% } %>
		</table>
	</div>
</div>